/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

* {
  box-sizing: border-box;
}

html {
  color: #5b5b5b;
  font-size: 0.7em;
  line-height: 1.4;
  font-family: "Lato", "Helvetica", "Arial", sans-serif;
}

::-moz-selection {
  background: #f23468;
  color: #fff;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #f23468;
  text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/* Typography */

h1,
h2,
h3,
h5 {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

h3 {
  font-size: 12px;
}

h4 {
  margin-bottom: 12px;
  font-size: 16px;
}

p {
  font-size: 12px;
}

a {
  text-decoration: none;
  color: #37a0e6;
  font-weight: 700;
}

a:hover {
  color: #f23468;
}

/* Lists */

ul {
  list-style: none;
  padding: 0px;
}

ul p {
  margin-bottom: 0px;
}

/* Main styling */

#root {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  padding: 12px;
  width: 100%;
  max-width: 720px;
}

header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 660px;
  padding: 3rem 2rem;
}

header p {
  font-size: 24px;
  text-align: center;
}

header > span > img {
  border-radius: 50%;
}

section {
  padding-top: 12px;
  margin-bottom: 3rem;
}

article {
  margin: 1rem;
  flex-grow: 1;
}

#info {
  display: flex;
  flex-direction: column;
}

#info article a h4 {
  color: #5b5b5b;
}

#info article a h4:hover {
  color: #f23468;
}

#showcase img {
  width: 100%;
  z-index: 1;
  display: block;
  border-bottom: 2px solid #ccc;
}

#showcase article {
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

#social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#social > li > a {
  color: #aaaaaa;
}

#social > li > a:hover {
  color: #f23468;
}

#social li {
  margin-right: 2rem;
}

#social li:last-child {
  margin-right: 0;
}

#tech {
  margin-right: 1rem;
  margin-left: 1rem;
}

#tech li {
  color: #aaaaaa;
  font-weight: bold;
  margin-right: 2rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.disclaimer {
  margin: 1rem;
}

.divider {
  display: block;
  height: 2px;
  width: 6rem;
  background-color: #f23468;
}

.sub {
  font-size: 12px;
}

.content {
  padding: 0 0 14px 14px;
}

.content > .links > a {
  font-size: 16px;
}

.links {
  display: flex;
  flex-direction: column;
}

/* Media queries */

@media screen and (min-width: 600px) {
  header {
    padding: 45px 0px;
  }

  #info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  #info article:last-child {
    flex-grow: 0;
  }
}

@media screen and (min-width: 1000px) {
  .content {
    display: flex;
    text-align: center;
    color: #5b5b5b;
    background-color: #fff;
    align-items: center;
    transition: all 0.2s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 199;
    opacity: 0;
    padding: 0;
    flex-direction: column;
  }

  .content > .links {
    display: flex;
    flex-direction: column;
  }

  .content > .links > a {
    font-size: 14px;
  }
}

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

.clearfix:after {
  clear: both;
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
}
